<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Telerehabilitation app</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/templatemo-style.css"/>
</head>

<body>
<div class="container-fluid">
    <div class="row tm-brand-row">
        <div class="col-lg-4 col-10">
            <div class="tm-brand-container">
                <div class="tm-brand-texts">
                    <h1 class="text-uppercase tm-brand-name">TeleReh</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-2 tm-nav-col">
            <div class="tm-nav">
                <nav class="navbar navbar-expand-lg navbar-light tm-navbar">
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto mr-0">
                            <li class="nav-item active">
                                <div class="tm-nav-link-highlight"></div>
                                <a class="nav-link" href="#"
                                >Home <span class="sr-only">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <div class="tm-nav-link-highlight"></div>
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <div class="tm-nav-link-highlight"></div>
                                <a class="nav-link" th:href="@{/registration}">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="row tm-welcome-row">
    <div class="col-12 tm-page-cols-container">
        <div class="tm-page-col-left tm-welcome-box tm-bg-primary">
            <p class="tm-welcome-text">
                <em>"Hello, TELEREH is a platform that supports remote rehabilitation at home of people who have
                    suffered a stroke."</em>
            </p>
        </div>
        <div class="tm-page-col-right">
            <div
                    class="tm-welcome-parallax"
                    data-parallax="scroll"
                    data-image-src="images/biuro.jpg"
            ></div>
        </div>
    </div>
</div>

<section class="row tm-pt-4 tm-pb-6">
    <div class="col-12 tm-page-cols-container">
        <div class="tm-page-col-right">
            <h2 class="tm-text-secondary tm-mb-5">
                About application
            </h2>
            <p class="tm-mb-6">
                Post-stroke patients require systematic rehabilitation to regain physical mobility and be able to
                function independently.
                <strong> TEREH </strong> makes it possible to get good results from home, which is especially important
                in the face of a global pandemic.
            </p>
            <p class="mb-0">
                The application enables the patient to communicate with a specialist via an audio-video system.
                A specialist can create an individual training plan for each patient, using the database of available
                exercises.
                Moreover, the therapist can save notes on the results obtained, monitor the frequency of exercise or
                change the patient's training plan on an ongoing basis.
            </p>
        </div>
    </div>
</section>


<section class="row tm-pt-4 tm-pb-6">
    <div class="col-12 tm-page-cols-container">
        <div class="tm-page-col-right">
            <form th:action="@{/log}" th:method="GET">
                <div class="container-fluid">
                    <div class=raw>
                        <fieldset>
                            <legend>Login form</legend>
                            <div class="form-group">

                                <label class="col-form-label" for="inputDefault1">E-mail</label>
                                <input required type="email" name="email" class="form-control"
                                       placeholder="Enter e-mail address" id="inputDefault1">

                                <label class="col-form-label" for="inputDefault2">Password</label>
                                <input required type="password" name="password" class="form-control"
                                       placeholder="Enter password" id="inputDefault2">

                                <label class="col-form-label" for="inputDefault8">Choose your role</label>
                                <select class="form-control" name="role" id="inputDefault8">
                                    <option value="PATIENT">PATIENT</option>
                                    <option value="SPECIALIST">SPECIALIST</option>
                                </select>

                            </div>


                            <div class="row form-group"></div>

                            <button type="submit" value="log in" class="btn btn-info">Log in</button>
                        </fieldset>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">TELEREH,
            telereh@app.com.pl
        </address>
    </div>
</footer>
<div class="row form-group"></div>


<script src="js/jquery.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
