<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Telerehabilitation app</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

This is main page. You can register as a patient or specialist.

<div class="container">
    <p><a th:href="@{/registration}">
        <button class="btn btn-info">Registration</button>
    </a></p>
</div>

<div class="row justify-content-center">
    <form>
        <div class="container-fluid">
            <div class=raw>
                <fieldset>
                    <legend>Log in</legend>
                    <div class="form-group">

                        <label class="col-form-label" for="inputDefault1">e-mail</label>
                        <input required type="email"  name="email" class="form-control"
                               placeholder="Enter e-mail address" id="inputDefault1">
                        <div class="row form-group"></div>

                        <label class="col-form-label" for="inputDefault2">password</label>
                        <input required type="password" name="password" class="form-control"
                               placeholder="Enter password" id="inputDefault2">
                        <div class="row form-group"></div>

                    </div>


                    <div class="row form-group"></div>

                    <button type="submit" value="log in" class="btn btn-outline-primary role=">Log in</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>

</body>

</html>
