<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/templatemo-style.css"/>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>

<body>
<div class="container-fluid">
    <div class="row tm-brand-row">
        <div class="col-lg-4 col-10">
            <div class="tm-brand-container">
                <div class="tm-brand-texts">
                    <h1 class="text-uppercase tm-brand-name">TeleRehab</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-2 tm-nav-col">
            <div class="tm-nav">
                <nav class="navbar navbar-expand-lg navbar-light tm-navbar">
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto mr-0">
                            <li class="nav-item active">
                                <div class="tm-nav-link-highlight"></div>
                                <a class="nav-link" href="#"
                                >Profile <span
                                        class="sr-only">(current)</span> </a
                                >
                            </li>
                            <li class="nav-item">
                                <div class="tm-nav-link-highlight"></div>
                                <a class="nav-link" th:href="@{/aboutPatient}"
                                >About </a>
                            </li>
                            <li class="nav-item">
                                <div class="tm-nav-link-highlight"></div>
                                <div class="nav-link" sec:authorize="isAuthenticated()">
                                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    </form>
                                    <span sec:authentication="name"></span><a
                                        onclick="document.forms['logoutForm'].submit()">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row tm-welcome-row">
    <div class="col-12">
        <div
                class="tm-welcome-parallax tm-center-child"
                data-parallax="scroll"
                data-image-src="images/patient.jpg"
        >
            <div class="tm-bg-black-transparent tm-parallax-overlay">
                <div sec:authorize="isAuthenticated()"></div>
                <h2>Hi [[${currentPatient.getName()}]]!</h2>
                <p>Welcome to your profile</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-success alert-dismissible" onclose="" role="alert" th:text="${success}"
         th:if="${success}"></div>
</div>
<section class="row tm-pt-4">
    <div class="col-12 tm-page-cols-container">

        <div class="tm-page-col-left">

        </div>


        <div class="tm-page-col-right">
            <h2>Your current training plan</h2>
            <div class="row form-group"></div>
            <ul th:each="e : ${exercises}">
                <li>
                    <strong th:text="${e.getName()}"></strong>
                    <br>
                    <img th:src="${e.getVisualRepresentation()}" alt="photo" th:width="700">
                    <div class="row form-group"></div>
                </li>
            </ul>

            <a th:href="@{/trainingDone}">
                <button value="call" class="btn btn-info">
                    TRAINING DONE!
                </button>
            </a>
            <p>Click to inform specialist.</p>

        </div>
    </div>
</section>


<div class="row form-group"></div>


<div class="row form-group"></div>
<div class="row form-group"></div>
<footer class="contact">
    <div class="container-fluid">
                <img src="images/logo.png" alt="logo" th:width="45" th:height="45">
        <address class="contact-info">TELEREHAB
            telerehab@app.com.pl
        </address>
    </div>
</footer>


<div class="row form-group"></div>
<script src="js/jquery.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>